<div class="flex h-screen bg-gray-800">
  <!-- Sidebar -->
  <div class="w-64 bg-gray-900">
    <div class="px-4 py-6">
      <h1 class="text-white text-xl font-semibold">Sidebar</h1>
      <!-- Links da Sidebar -->
      <ul class="mt-6">
        <li class="mb-3">
          <a href="#" class="text-gray-300 hover:text-white">Link 1</a>
        </li>
        <li class="mb-3">
          <a href="#" class="text-gray-300 hover:text-white">Link 2</a>
        </li>
        <li class="mb-3">
          <a href="#" class="text-gray-300 hover:text-white">Link 3</a>
        </li>

        <li class="mb-3">
          <div class="bg-blue-500 text-white p-4">Exemplo Tailwind CSS</div>
        </li>
        <!-- Adicione mais links conforme necessário -->
      </ul>
    </div>
  </div>
  <!-- Conteúdo Principal -->
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
