<div class="flex h-screen">
  <div class="flex-1 bg-gray-200 p-4 chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [xaxis]="chartOptions2.xaxis"
      [title]="chartOptions2.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [xaxis]="chartOptions3.xaxis"
      [title]="chartOptions3.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions4.series"
      [chart]="chartOptions4.chart"
      [xaxis]="chartOptions4.xaxis"
      [title]="chartOptions4.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions5.series"
      [chart]="chartOptions5.chart"
      [xaxis]="chartOptions5.xaxis"
      [title]="chartOptions5.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions5.series"
      [chart]="chartOptions5.chart"
      [xaxis]="chartOptions5.xaxis"
      [title]="chartOptions5.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions6.series"
      [chart]="chartOptions6.chart"
      [xaxis]="chartOptions6.xaxis"
      [title]="chartOptions6.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions7.series"
      [chart]="chartOptions7.chart"
      [xaxis]="chartOptions7.xaxis"
      [title]="chartOptions7.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions8.series"
      [chart]="chartOptions8.chart"
      [xaxis]="chartOptions8.xaxis"
      [title]="chartOptions8.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions9.series"
      [chart]="chartOptions9.chart"
      [xaxis]="chartOptions9.xaxis"
      [title]="chartOptions9.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions10.series"
      [chart]="chartOptions10.chart"
      [xaxis]="chartOptions10.xaxis"
      [title]="chartOptions10.title"
    ></apx-chart>
    <apx-chart
      [series]="chartOptions11.series"
      [chart]="chartOptions11.chart"
      [xaxis]="chartOptions11.xaxis"
      [title]="chartOptions11.title"
    ></apx-chart>
  </div>
  <div class="grafico">
    <app-sidebar></app-sidebar>
  </div>
</div>
